.main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    border: 15px;
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 8px;
}

#section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
    margin-top: 20px;
}

.Cart {
    position: fixed;
    top: 15px;
    /* right: 20px; */
    width: 15em;
    border: 2px solid;
    padding-left: 5px;
}

.Cart li {
    margin-bottom: 8px;
}

.Checkout {
    position: fixed;
    top: 15px;
    bottom: 100px;
    width: 14em;
    padding-left: 8px;
    padding-right: 8px;
}